* {
  border: 1px solid red;
}

.app-container {
  background-color: var(--primary-background);
}

@media (max-width: 1000px) {
  .navbar ul {
    display: none;
  }

  .hamburger {
    display: block;
    width: 50px;
  }
}
