.app-container {
  background-color: var(--primary-background);
}

@media (max-width: var(--desktop-breakpoint)) {
  .navbar ul {
    display: none;
  }

  .hamburger {
    display: block;
    width: 50px;
  }
}
