:root {
  --primary-font-color: #1a1a1a; // Dark gray for text contrast
  --color-light-bg: #f8fafc;
  --secondary-background: #fff; // Clean white
  --button-color: #eca88e;

  --font-family: "Poppins", sans-serif;

  --header-font-size: 32px;
  --subheader-font-size: 24px;
  --text-font-size: 16px;
}
