* {
  border: 1px solid red;
}

:root {
  --primary-font-color: #212529; // Dark gray for text contrast
  --color-light-bg: #f8fafc;
  --secondary-background: #fff; // Clean white
  --button-color: #557dbc;

  // #eca88e leaving here as this was the previous button colour and we haven't decided yet

  --font-family: "Poppins", sans-serif;

  --header-font-size: 30px;
  --subheader-font-size: 20px;
  --text-font-size: 16px;
  --box-shadow: rgba(0, 0, 0, 0.2);
  --max-width-container: 1060px;
}
