.youtube-videos {
  display: flex;
  flex-direction: row;
  width: 1060px;
  justify-content: space-between;
}

.video-card {
  width: 490px;
}

.video-thumbnail-container {
  position: relative;
  width: 480px;
  height: 250px;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  cursor: pointer;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.youtube-icon {
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.video-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.video-title {
  font-family: var(--font-family);
  font-size: var(--text-font-size);
  text-align: center;
  padding: 20px 0px 20px 0px;
}

@media (max-width: 1050px) {
  .youtube-videos {
    display: flex;
    flex-direction: column;
    width: 480px;
  }
}

@media (max-width: 550px) {
  .video-card {
    width: 340px;
  }
  .video-thumbnail-container {
    width: 340px;
  }
  .youtube-videos {
    width: 340px;
  }
}

.video-title {
  color: var(--primary-font-color);
  font-size: var(--text-font-size);
  font-weight: 600;
}
