.column-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.newsletter-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.btn {
  margin-bottom: 50px;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.modal-btn {
  margin-bottom: 25px;
}

.btn:hover {
  background-color: #357ab7;
}

.privacy-text {
  font-size: 14px;
  color: #666;
  max-width: 500px;
  padding-right: 10px;
  margin-bottom: 15px;
  line-height: 1.2;
}

.privacy-text a {
  color: #007bff;
}

.privacy-text a:hover {
  text-decoration: underline;
}

input[type="text"],
input[type="email"] {
  font-family: var(--font-family);
  margin-bottom: 15px;
  max-width: 500px;
  padding: 12px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: var(--text-font-size);
  outline: none;
}

input[type="text"]:focus,
input[type="email"]:focus {
  border-color: #007bff;
}

@media (max-width: 529px) {
  input[type="text"],
  input[type="email"] {
    width: 100%;
    padding: 12px 10px;
  }
}

.error-text {
  color: red;
  font-size: 12px;
  margin: 4px 0px;
}
