.newsletter-outer-container {
  font-family: var(--font-family);
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (max-width: 1012px) {
  .newsletter-outer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
