.teachers-container {
  display: flex;
  padding: 40px 15px 70px 15px;
  max-width: var(--max-width-container);
  margin: 70px auto 30px auto;
  justify-content: space-between;
}

@media (max-width: 1000px) {
  .teachers-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
