.newsletter-outer-container {
  font-family: var(--font-family);
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .title {
    color: var(--primary-font-color);
    max-width: var(--max-width-container);
    margin: 70px auto 60px 0px;
    font-family: var(--font-family);
    font-size: var(--header-font-size);
    font-weight: 600;
  }
}
.title p {
  margin-bottom: 10px;
}
.subheading {
  color: var(--primary-font-color);
  font-size: var(--subheader-font-size);
}
.description {
  color: var(--primary-font-color);
  font-size: 16px;
  margin: 20px auto 60px 0px;
  line-height: 1.2;
}

.line {
  width: 87px;
  border: 2px solid #3897d3;
}

.column.right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.column.right form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.column.left {
  max-width: var(--max-width-container);
}

@media (min-width: 1013px) {
  .left {
    width: 40%;
  }
}

.btn {
  margin-bottom: 50px;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #357ab7;
}

.privacy-text {
  font-size: 14px;
  color: #666;
  max-width: 500px;
  padding-right: 10px;
  margin-bottom: 15px;
  line-height: 1.2;
}

.privacy-text a {
  color: #007bff;
  text-decoration: none;
}

.privacy-text a:hover {
  text-decoration: underline;
}

input[type="text"],
input[type="email"] {
  font-family: var(--font-family);
  margin-bottom: 15px;
  max-width: 500px;
  padding: 12px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: var(--text-font-size);
  outline: none;
}

input[type="text"]:focus,
input[type="email"]:focus {
  border-color: #007bff;
}

@media (max-width: 1012px) {
  .newsletter-outer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .column.left {
      max-width: 600px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .column.right {
      max-width: 600px;
    }
    .title {
      margin: 70px 0px 40px 0px;
    }

    .title p {
      text-align: center;
    }
    .line {
      display: none;
    }
    .description {
      margin: 20px 0px 60px 0px;
      text-align: center;
      max-width: 470px;
    }
    .subheading {
      text-align: center;
    }
  }
  @media (max-width: 529px) {
    input[type="text"],
    input[type="email"] {
      width: 100%;
      padding: 12px 10px;
    }
  }
}
