.footer-outer-container {
  background-color: var(--button-color);
  padding: 30px 0px;

  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    height: 150px;
  }

  .footer-column-left {
    font-family: var(--font-family);
  }
  .footer-column-left a {
    color: white;
  }

  .inner-column {
    display: flex;
    justify-content: flex-start;
    justify-content: flex-start;
    flex-flow: column wrap;
  }

  .footer-column-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .footer-icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
  }
  .footer-policies {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    width: 240px;
    justify-content: space-between;
  }

  @media (max-width: 500px) {
    .footer-container {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      color: white;
      height: 400px;
    }
    .footer-column-left {
      padding: 0px 20px;
      justify-content: flex-start;
      height: 100px;
    }
    .footer-column-right {
      padding: 0px 20px;
      justify-content: space-around;
      height: 100px;
    }
  }

  @media (max-width: 640px) {
    .footer-container {
      padding: 0px 20px;
      font-size: 12px;
    }
    .footer-policies {
      width: 180px;
    }
    .footer-icon {
      height: 30px;
      width: 30px;
    }
  }
}
