.hero {
  background-color: var(--color-light-bg);
  color: var(--primary-font-color);
  font-family: var(--font-family);
  font-size: 14px;
  padding: 40px;
  display: flex;
  max-width: 1060px;
  margin-left: auto;
  margin-right: auto;
}

.col {
  flex: 1;
}
.left {
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero-title,
.hero-sub,
.hero-text {
  padding: 10px 0px;
}
.hero-title {
  font-size: var(--header-font-size);
  font-family: var(--font-family);
}

.hero-sub {
  font-size: var(--subheader-font-size);
}

.hero-text {
  font-size: 16px;
}

.btn {
  margin-top: 10px;
}
.pic {
  flex-basis: 25%;
}
.hero-pic {
  // height: 300px;
  border-radius: 10px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
