.booklesson-outer-container {
  font-family: var(--font-family);
  margin: 40px 0px 70px;
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .booklesson-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  }
  

  .btn {
    max-width: 450px;
    align-self: start;
  }

  .btn:hover {
    background-color: #357ab7;
  }

  input[type="text"],
  input[type="email"] {
    font-family: var(--font-family);
    margin-bottom: 10px;
    max-width: 450px;
    max-height: 35px;
    padding: 12px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 12px;
    outline: none;
  }

  #dropdown {
    font-family: var(--font-family);
    margin-bottom: 10px;
    max-width: 450px;
    padding: 5px 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 12px;
    outline: none;
    appearance: none;
  }

  input[type="text"]:focus,
  input[type="email"]:focus,
  #dropdown:focus {
    border-color: #007bff;
  }

  .request-privacy-text {
    font-size: 12px;
    max-width: 450px;
    padding-bottom: 10px;
  }

  .newsletter {
    text-decoration: underline;
  }
  .newsletter:hover {
    cursor: pointer;
  }
}

@media (max-width: 1012px) {
  .booklesson-outer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .booklesson-form {
      max-width: 600px;
      align-items: center;
      margin-top: 0px;

    }
  }
}

.nl-modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nl-modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 560px;
  margin: auto;
  border: 2px solid #557dbc;
  border-radius: 5px;
  background-color: white;
}
