.card-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  text-align: center;
  padding: 40px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px var(--box-shadow);
  transition: color 0.3s, transform 0.3s;
  transition: margin 0.3s ease;
  width: 220px;
  height: 300px;
}

@media (max-width: 1000px) {
  .card-container {
    height: 280px;
    width: 400px;
    margin-bottom: 25px;
  }
}

@media (max-width: 828px) {
  .card-container {
    width: 450px;
    margin-bottom: 25px;
  }
}

.card-title {
  font-family: var(--font-family);
  font-size: var(--subheader-font-size);
  font-weight: 700;
  padding: 20px 0px;
}

.card-description {
  display: block;
  font-family: var(--font-family);
  font-size: var(--text-font-size);
  font-weight: 300;
  padding: 10px 0px 20px 0px;
}

@media (min-width: 1001px) {
  .card-container:hover {
    margin-bottom: 5px;
    margin-top: -5px;
  }
}

.card-icon {
  width: 30%;
  align-self: center;
}
@media (max-width: 1000px) {
  .card-icon {
    width: 15%;
    align-self: center;
    padding-bottom: 10px;
  }
}
@media (max-width: 828px) {
  .card-icon {
    width: 10%;
    align-self: center;
    padding-bottom: 10px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
