# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vite/*

# //api key: AIzaSyBaooWVq4y1lsyNk9lLXNt9-ZZG1MjMEXE
# //channel ID: UClGR6kVvAznpGs_50QlosLQ
# //uploads ID: "UUlGR6kVvAznpGs_50QlosLQ"
# // url: https://youtube.googleapis.com/youtube/v3/playlistItems?part=snippet&playlistId=UUlGR6kVvAznpGs_50QlosLQ&key=AIzaSyBaooWVq4y1lsyNk9lLXNt9-ZZG1MjMEXE