# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vite/*

.env



# .outer-container {
#   background-color: var(--secondary-background);
#   padding: 70px 0px;

#   .container {
#     max-width: var(--max-width-container);
#     flex-direction: column;
#     margin: 0 auto;
#     justify-content: center;
#   }

#   .title-container {
#     max-width: var(--max-width-container);
#     margin: 30px auto 60px 20px;
#     font-family: var(--font-family);
#     font-size: var(--header-font-size);
#     font-weight: 600;
#   }
#   .title-container p {
#     margin-bottom: 10px;
#   }
#   .line {
#     width: 87px;
#     border: 2px solid #3897d3;
#   }

#   .content-container {
#     display: flex;
#     flex-wrap: wrap;
#     justify-content: space-around;
#   }
# }
