{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 2,
    "trailingComma": "es5",
    "printWidth": 80,
    "endOfLine": "lf",
    "overrides": [
      {
        "files": "*.scss",
        "options": {
          "singleQuote": false
        }
      },
      {
        "files": "*.html",
        "options": {
          "printWidth": 120
        }
      }
    ]
  }
  